@import 'modules/variables';
@import 'modules/mixin';

.pace-done #global-container {
  transition: opacity 1s;
  opacity: 1;
}

#global-container {
  opacity: 0;
}

.pace {
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}

.pace .pace-progress {
  transform: none !important;
  text-align: center;
}

.pace .pace-progress::after {
  content: attr(data-progress-text);
  display: block;
  font-weight: 100;
  font-size: 1.5em;
  font-family: 'Didact Gothic', sans-serif;
  color: $green;
}

.pace.pace-inactive {
  display: none;
}

.pace-progress-inner {
  margin: 0 auto 30px;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $green, 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em $green, 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em $green, 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em $green, 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em $green, -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em $green, -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em $green, -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em $green;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $green, 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em $green, 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em $green, 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em $green, 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em $green, -1.8em 1.8em 0 0em rgba(76, 175, 80, 0.2), -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em $green, -2.6em 0em 0 0em rgba(76, 175, 80, 0.2), -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em $green, -1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(76, 175, 80, 0.2), 1.8em -1.8em 0 0em rgba(76, 175, 80, 0.2), 2.5em 0em 0 0em rgba(76, 175, 80, 0.2), 1.75em 1.75em 0 0em rgba(76, 175, 80, 0.2), 0em 2.5em 0 0em rgba(76, 175, 80, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em $green;
  }
}
