@charset "UTF-8";
.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #d84315;
  border-radius: 40px;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #d84315;
  text-decoration: none !important;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.btn.btn-m-red {
  background-color: #d84315;
  color: white;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn.btn-m-red:hover {
  background-color: white;
  color: #d84315;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-m-white {
  background-color: white;
  color: #d84315;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn.btn-m-white:hover {
  background-color: #d84315;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-m-blue {
  background-color: white;
  color: #022558;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

.btn.btn-m-blue:hover {
  background-color: #022558;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.btn.btn-m-gray {
  background-color: #d6d7d8;
  color: #666666;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

.btn.btn-m-gray:hover {
  background-color: #d6d7d8;
  color: #666666;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  opacity: 0.8;
}

.l-header__logo img {
  width: 230px;
}

.l-header__nav {
  width: 100%;
  height: auto;
  position: relative;
  background: #f6f6f6;
}

.l-header__drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 1em;
}

/*ナビゲーション部分*/
.l-header__link {
  display: block;
  font-weight: bold;
  padding: 2em;
  border-bottom: 1px dashed #ccc;
  color: #022558;
  text-decoration: none;
}

.l-header__link:hover {
  background-color: #fdeeea;
  color: #d84315;
}

.l-header__nav-list {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translateX(100%);
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100vh;
}

/*OPEN*/
.l-header__nav-list.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.l-header__toggle {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 3;
  right: 15px;
  top: 18px;
}

.l-header__toggle span {
  display: block;
  position: absolute;
  width: 40px;
  border-bottom: solid 3px #022558;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.l-header__toggle span:nth-child(1) {
  top: 5px;
}

.l-header__toggle span:nth-child(2) {
  top: 16px;
}

.l-header__toggle span:nth-child(3) {
  top: 27px;
}

.l-header__toggle.active span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.l-header__toggle.active span:nth-child(2),
.l-header__toggle.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 960px) {
  /*ロゴの大きさを調整*/
  .l-header__logo img {
    max-width: 250px;
  }
  .l-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .l-header__toggle {
    display: none;
  }
  .l-header__nav {
    width: 70%;
    font-size: 0.9em;
    background-color: transparent;
  }
  .l-header__nav-list {
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: inherit;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .l-header__link {
    padding: 0 1em;
    border-bottom: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .l-header__link a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #333;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .l-header__link a:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .l-header__link a:hover {
    background-color: none;
  }
}

.l-searchBox {
  margin: 1em 0 2em;
}

.l-searchBox__title {
  background: #d84315;
  text-align: center;
  padding: 0.7em 0;
  color: #fff;
  position: relative;
  border-radius: 5px;
}

.l-searchBox__title.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.l-searchBox__title::before {
  content: "\f078";
  font-family: FontAwesome;
  color: white;
  position: absolute;
  right: 20px;
  top: 14px;
}

.l-searchBox__title.open::before {
  content: "\f077";
  font-family: FontAwesome;
}

.searchBody {
  border: 1px solid #cecece;
  padding: 1em;
  margin-bottom: 3em;
  display: none;
  background: white;
}

.searchBody__top {
  margin-bottom: 30px;
}

.searchBody__dt {
  margin-bottom: 5px;
  color: #3b4043;
}

.searchBody__dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3b4043;
}

.searchBody__input {
  border: 1px solid #cecece;
  border-radius: 2px;
  width: calc(100% - 43px);
  padding: 0.6em 1em;
}

.searchBody__submit {
  width: 43px;
  height: auto;
  background: #d84315;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.searchBody__submit::before {
  content: "\f002";
  font-family: FontAwesome;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.searchBody__btn .btn {
  margin-top: 0;
}

.searchBody__dl {
  width: 100%;
  margin-bottom: 1em;
}

.searchBody__select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  position: relative;
  z-index: 50;
  padding: 0.6em 1em;
}

.searchBody .selectWrap {
  position: relative;
  border: 1px solid #cecece;
  border-radius: 2px;
  background: white;
  width: 100%;
}

.searchBody .selectWrap::before {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  right: 18px;
  top: 10px;
  color: #d84315;
}

.form-checkbox__button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #cecece;
  font-size: 0.9rem;
  color: #848484;
  background: #fff;
  line-height: 1;
}

.form-checkbox__list li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}

.form-checkbox__button-input {
  display: none;
}

.form-checkbox__button-input:checked + .form-checkbox__button {
  background-color: #fdeeea;
  border: 1px solid #d84315;
  color: #d84315;
}

.form-page__title {
  background: #f4f3f2;
  padding: 10px 0;
  text-align: center;
}

.form-page__title.complete {
  height: 100vh;
  padding: 2em 1.5em;
}

.l-form input[type="text"],
.l-form textarea,
.l-form input[type="email"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #cecece;
}

.l-form h2 {
  border-left: 4px solid #d84315;
  padding-left: 10px;
}

.l-form .checkbox-list {
  background: #f4f3f2;
  padding: 10px;
  margin-top: 5px;
}

.l-form .form-checkbox {
  background: #f1f1f1;
  padding: 1.5em 1em;
}

.l-form dd,
.l-form .l-form__radio {
  background: #f5f5f5;
}

.l-form__title {
  text-align: left;
  border-left: 5px solid #d84315;
  padding-left: 10px;
}

.form-require {
  font-size: 13px;
  color: #d84315;
  background: #f4f3f2;
  padding: 1px 5px;
  margin-left: 8px;
  border-radius: 3px;
}

input[type="checkbox"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 5px;
  border: 1px solid #cecece !important;
}

input[type="radio"] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 10px;
  border: 1px solid #cecece !important;
}

.sub-text {
  font-size: 0.9rem;
  color: #676767;
  margin: 8px 0 0;
}

.l-form__label {
  margin: 16px 0 5px;
  font-weight: bold;
  display: inline-block;
}

.f-checkbox__list {
  margin: 10px 5px 20px;
}

.l-form__option {
  margin: 2em 1em 1em;
  text-align: center;
}

.l-form__option-link {
  text-decoration: underline;
}

.l-form__option-link-area {
  margin-top: 5px;
}

.l-form__option-text {
  line-height: 1.4;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder {
  /* Others */
  color: #ccc !important;
}

::placeholder {
  /* Others */
  color: #ccc !important;
}

.submit__btn {
  width: 80%;
  margin: 2em auto;
}

.l-form__button-back .btn,
.l-form__button-submit .btn {
  width: 100%;
}

.validate-text {
  background: #fdeeea;
  padding: 0.5em 1em;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #3b4043;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.6;
}

.br-pc {
  display: none;
}

.br-sp {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.c-red {
  color: #d84315;
}

.bold-text {
  font-weight: 900;
}

h2 {
  font-size: 1.2rem;
  margin: 32px 0 24px;
  font-weight: 800;
}

.main-title {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin: 32px 0 24px;
}

.symbol {
  font-size: 40px;
  padding-bottom: 10px;
}

.marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #fdeeea));
  background: linear-gradient(transparent 60%, #fdeeea 60%);
}

.d-inline {
  display: inline-block;
}

.sub-text {
  color: #666666;
}

.small-text {
  font-size: 0.8rem;
  color: #666666;
  line-height: 1.4;
  display: inline-block;
}

.mb-2 {
  margin-bottom: 2em;
}

.p-1 {
  padding: 1em;
}

.cat__niku {
  background: #e64a19;
}

.cat__wa {
  background: #5d4037;
}

.cat__kaigai {
  background: #f57c00;
}

.cat__shop {
  background: #0097a7;
}

.cat__nabe {
  background: #fbc02d;
}

.cat__dessert {
  background: #0288d1;
}

.cat__other {
  background: #388e3c;
}

.cat__okinawa {
  background: #dd2c00;
}

.font-sm {
  font-size: 13px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-gray {
  background: #f4f3f2;
}

.content-inner, .l-insta__cont, .l-special, .mod_share, .owner__inner {
  padding: 2%;
  width: 96%;
  margin: 0 auto;
}

.l-alert h2 {
  font-size: 1.2rem;
  margin-bottom: 1em;
  color: #022558;
  text-align: center;
}

.l-alert p {
  line-height: 1.8;
  margin-bottom: 2em;
}

.l-shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-shop__item {
  width: 48.5%;
  background: #fff;
  margin-bottom: 1.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.l-shop__link {
  background: #fff;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  height: 100%;
}

.l-shop__img {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 65%;
}

.l-shop__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.l-shop__item:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
          transform: translate(-50%, -50%) scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.l-shop__info {
  padding: 0.2em 0.6em 2em;
}

.l-shop__infoCat {
  padding: 1px 8px;
  margin-bottom: 5px;
  font-size: 0.7rem;
  color: #fff;
}

.l-shop__infoTitle {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 5px;
}

.l-shop__infoArea {
  position: absolute;
  bottom: 1em;
  font-size: 0.7rem;
  color: #666666;
}

.l-insta {
  background-image: url(../images/insta-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.l-insta__title {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.l-insta__inner {
  background: rgba(0, 0, 0, 0.15);
  padding: 60px 0;
  text-align: center;
  color: #fff;
}

.l-insta__read {
  margin-bottom: 10px;
}

.l-insta__read span {
  font-size: 1.2rem;
  font-weight: 700;
}

.l-special__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1em;
  color: #3b4043;
}

.l-special__photo {
  width: 37%;
  overflow: hidden;
  position: relative;
  padding-bottom: 37%;
  border-radius: 5px;
}

.l-special__photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.l-special__text {
  width: 60%;
  line-height: 1.4;
}

.l-special__shop {
  font-weight: 900;
  margin-bottom: 5px;
}

.l-special__read {
  font-size: 13px;
  margin-bottom: 8px;
}

.l-special__const {
  font-size: 11px;
  color: gray;
}

.btn-wrap {
  width: 80%;
  margin: 0 auto;
}

.mod_share {
  font-size: 0.7rem;
  line-height: 1.3;
  text-align: center;
  max-width: 800px !important;
}

.mod_share .symbol {
  padding-bottom: 3px;
}

.mod_share__title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
  position: relative;
  display: inline-block;
  padding: 0 40px;
}

.mod_share__title:before, .mod_share__title:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: black;
}

.mod_share__title:before {
  left: 0;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.mod_share__title:after {
  right: 0;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.mod_share__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mod_share__item {
  width: 24%;
  height: auto;
  border-radius: 5px;
  padding: 1em 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

.mod_share__item.twitter {
  background: #55acee;
}

.mod_share__item.facebook {
  background: #3b5998;
}

.mod_share__item.line {
  background: #1bb91f;
}

.mod_share__item.copy {
  background: #fd8223;
}

.owner {
  background-image: url(../images/owner-bg.jpg);
  background-repeat: no-repeat;
  background-position: -130px;
  background-size: cover;
  padding: 32px 0 64px;
}

.owner__title {
  color: #d84315;
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.owner__read {
  line-height: 1.8;
  margin-bottom: 1em;
}

.l-mainvisual {
  background: #999;
  text-align: center;
  padding: 10px 0;
}

footer.l-footer {
  background: #022558;
  padding: 2em 0;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.mapbtn {
  max-width: 200px;
}

.mapbtn .btn {
  padding: 0.3em;
}

.l-tel-pc {
  display: none;
}

.l-info__cate {
  font-size: 11px;
  margin-bottom: 10px;
}

.l-info__cate-list {
  display: inline-block;
  color: #fff;
  padding: 2px 5px;
  margin-right: 4px;
}

.l-info__name {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.l-info__kodawari {
  margin: 5px 0;
}

.l-info__korona {
  border: 3px dotted #d84315;
  padding: 1em;
}

.l-info__korona h2 {
  margin-top: 20px;
}

.l-info__korona-sub {
  margin: 16px 0 8px;
  padding: 2px 0;
  background: #f4f3f2;
  text-align: center;
}

.l-info__korona-list li {
  position: relative;
  padding-left: 1.3em;
  border-bottom: 1px solid #eee;
  padding: 2px 0 2px 23px;
}

.l-info__korona-list li:before {
  content: "\f14a";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  left: 0;
}

.l-info__message-text {
  background: #fdeeea;
  padding: 1em 1.3em;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}

.l-info__message-text:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 10%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #fdeeea;
}

.l-info__h2title {
  text-align: left;
  margin: 32px 0 24px;
}

.l-info__video {
  margin-bottom: 1em;
  width: 100%;
  height: 200px;
  background: #eee;
}

.l-info__table {
  width: 100%;
  border: 1px solid #ececec;
}

.l-info__table th,
.l-info__table td {
  border-bottom: none;
  display: block;
  width: 100%;
}

.l-info__table th {
  background: #f4f3f2;
  border: solid 1px white;
  padding: 0.3em 1em;
  font-weight: bold;
}

.l-info__table tr {
  border-top: 1px solid #ececec;
}

.l-info__table td {
  width: 100%;
  padding: 10px;
}

.l-tel {
  background: #d84315;
  color: #fff;
  text-align: center;
  padding: 0.8em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.l-tel .btn {
  font-size: 1.3rem;
  color: #3b4043;
  margin: 0;
  padding: 5px 0;
}

.l-tel__title {
  margin-bottom: 3px;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.l-info__slide {
  margin: 1em 0;
}

.l-info__slid-thum .slick-list {
  height: 230px;
  margin-bottom: 0.2em;
}

.l-info__slid-nav .slick-slide {
  margin-bottom: 0.5em;
  padding: 0.2em;
}

.l-info__slid-nav .slick-current {
  border: 2px solid #d84315;
}

.l-info__slid-nav .slick-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70px;
  width: 100%;
}

/* slide */
.l-keyvisual {
  text-align: center;
  color: #fff;
  height: 510px;
  position: relative;
}

.l-keyvisual h1 {
  max-width: 650px;
  margin: 0 auto 1em;
  padding: 0 2em;
}

.l-keyvisual__read {
  line-height: 1.5;
  margin-bottom: 10px;
}

.l-keyvisual__text-btnbox {
  width: 80%;
  margin: 0 auto;
}

.l-keyvisual__text {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.l-keyvisual__bg img {
  width: 100%;
  height: 510px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .br-pc {
    display: block;
  }
  .br-sp {
    display: none;
  }
  .btn-wrap {
    width: 55%;
    margin: 0 auto;
  }
  .l-keyvisual__text-btnbox {
    width: 50%;
    margin: 0 auto;
  }
  .l-alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #cecece;
    padding: 1em 2em 0;
    margin: 0 auto 2em;
  }
  .l-alert h2 {
    width: 30%;
  }
  .l-alert p {
    width: 67%;
  }
  .l-shop__item {
    width: 31.5%;
  }
  .l-shop__info {
    padding: 0.5em 1em 2em;
  }
  .l-special__item {
    width: 23.5%;
  }
  .l-special__link {
    display: block;
    width: 100%;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .l-special__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-special__photo {
    width: 100%;
    padding-bottom: 180px;
  }
  .l-special__text {
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .l-insta__inner {
    padding: 0;
  }
  .owner {
    background-position: top;
    text-align: center;
  }
  .mod_share__item {
    font-size: 1rem;
    padding: 1.8em 0;
  }
  .mod_share__item .symbol {
    padding-bottom: 8px;
  }
  .l-info__table th {
    width: 24%;
    padding: 0.3em 1em;
    display: table-cell;
    vertical-align: middle;
  }
  .l-info__table tr {
    border-top: 1px solid #ececec;
    padding: 1em;
  }
  .searchBody {
    padding: 2em;
  }
  .searchBody__dl {
    margin-bottom: 1.5em;
  }
  .searchBody__btnTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .searchBody__btnTop .btn {
    width: 40%;
    margin: 0 1em 0 0;
  }
  .searchBody__btm-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .searchBody__btm-inner .searchBody__dl {
    width: 49%;
  }
  .submit__btnTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-form__button-back,
  .l-form__button-submit {
    width: 49%;
    padding-left: 1%;
    margin: 0 auto;
  }
  .l-info__slid-thum .slick-list {
    height: 360px;
  }
  .l-info__slid-nav .slick-slide img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100px;
    width: 100%;
  }
  .l-header__inner {
    max-width: 1160px;
    width: 90%;
    margin: 0 auto;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.9rem;
  }
  .l-header.headerNav {
    width: 70%;
    display: inline-block;
    text-align: right;
  }
  .l-header.headerNav__item {
    display: inline-block;
    text-align: right;
    padding-left: 1em;
    color: #022558;
  }
  .l-header .headerNav__item a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .l-header .headerNav__item a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #022558;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .l-header .headerNav__item a:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .content-inner, .l-insta__cont, .l-special, .mod_share, .owner__inner {
    width: 90%;
  }
  .l-shop__item {
    width: 23.5%;
  }
  .l-tel {
    display: none;
  }
  .l-info__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1em;
    position: relative;
  }
  .l-info__cate {
    margin-bottom: 20px;
  }
  .l-info__name {
    font-size: 2rem;
    margin-bottom: 32px;
  }
  .l-info__top, .l-info__slide {
    width: 48%;
    height: auto;
  }
  .l-info__korona-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-info__korona-box {
    width: 48%;
    height: auto;
  }
  .l-info__korona {
    padding: 1.2em 2em 2em;
  }
  .l-info__kodawari {
    margin-bottom: 1em;
  }
  .l-info__korona-sub {
    margin: 1em 0;
  }
  .l-tel-pc {
    display: block;
    background: #f1f1f1;
    padding: 1.3em 0;
    text-align: center;
    position: absolute;
    width: 50%;
    bottom: 20px;
  }
  .l-tel-pc .btn {
    margin-top: 5px;
    padding: 8px;
  }
  .searchBody__btnTop .btn {
    width: 30%;
    margin: 0 1em 0 0;
  }
  .l-info__slid-thum .slick-list {
    height: 280px;
  }
  .l-keyvisual__text-btnbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    max-width: 560px;
    margin: 0 auto;
  }
  .l-keyvisual__link {
    width: 49%;
    height: auto;
  }
  .l-keyvisual .btn {
    padding: 10px 20px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .side {
    display: block;
  }
  .swiper-slide {
    -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
  .content-inner, .l-insta__cont, .l-special, .mod_share, .owner__inner {
    max-width: 1160px;
  }
  .btn-wrap {
    width: 40%;
  }
  .l-shop__info {
    padding: 0.7em 1.3em 2em;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */