@import "modules/variables";
@import "modules/mixin";
// @import 'modules/appear';
@import "modules/button";
// @import 'modules/hero-slider';
// @import 'modules/text-animation';
// @import 'modules/image-slide';
@import "modules/mobile-menu";
@import "modules/form";

@import "breakpoints/base";

@media (min-width: 480px) {
  @import "breakpoints/480up";
}

@media (min-width: 600px) {
  @import "breakpoints/600up";
}

@media (min-width: 960px) {
  @import "breakpoints/960up";
}

@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}

@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}

@media print {
  @import "breakpoints/print";
}
