/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  font-family: "Noto Sans JP", sans-serif;
  color: $cBlack;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.6;
}

.br-pc {
  display: none;
}
.br-sp {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.c-red {
  color: $cBase;
}

.bold-text {
  font-weight: 900;
}

h2 {
  font-size: 1.2rem;
  margin: 32px 0 24px;
  font-weight: 800;
}

.main-title {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin: 32px 0 24px;
}

.symbol {
  font-size: 40px;
  padding-bottom: 10px;
}

.marker {
  background: linear-gradient(transparent 60%, $cBgRed 60%);
}

.d-inline {
  display: inline-block;
}

.sub-text {
  color: $cSubText;
}

.small-text {
  font-size: 0.8rem;
  color: $cSubText;
  line-height: 1.4;
  display: inline-block;
}

.mb-2 {
  margin-bottom: 2em;
}

.p-1 {
  padding: 1em;
}

.cat__niku {
  background: #e64a19;
}
.cat__wa {
  background: #5d4037;
}
.cat__kaigai {
  background: #f57c00;
}
.cat__shop {
  background: #0097a7;
}
.cat__nabe {
  background: #fbc02d;
}
.cat__dessert {
  background: #0288d1;
}
.cat__other {
  background: #388e3c;
}
.cat__okinawa {
  background: #dd2c00;
}

.font-sm {
  font-size: 13px;
}

// .font-md {
//   font-size: 17px;
// }
// .font-lr {
//   font-size: 17px;
// }
// .font-lg {
//   font-size: 25px;
// }
// .mb-sm {
//   margin-bottom: 16px !important;
// }
// .mb-lg {
//   margin-bottom: 80px !important;
// }
// .pb-sm {
//   padding-bottom: 16px !important;
// }
// .pb-md {
//   padding-bottom: 40px !important;
// }
// .pb-lg {
//   padding-bottom: 80px !important;
// }
// .content-width {
//   width: 90%;
//   margin: 0 auto;
//   max-width: 960px;
// }
// .d-inline {
//   display: inline-block;
// }
// .main-title {
//   font-family: $font_b;
//   @extend .font-lg;
//   font-weight: 600;
//   margin-bottom: 0;
//   display: block;
// }

// .flex {
//   display: flex;
//   flex-direction: column;
// }
// .basic-flexbox {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-gray {
  background: $cBgGray;
}

.content-inner {
  padding: 2%;
  width: 96%;
  margin: 0 auto;
}

.l-alert {
  h2 {
    font-size: 1.2rem;
    margin-bottom: 1em;
    color: $cSub;
    text-align: center;
  }

  p {
    line-height: 1.8;
    margin-bottom: 2em;
  }
}
.l-shop {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 48.5%;
    background: #fff;
    margin-bottom: 1.3em;
    box-sizing: border-box;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    transition: 0.3s all;
  }

  &__link {
    background: #fff;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    height: 100%;
  }

  &__img {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 65%;

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: "object-fit: cover;";
    }
  }

  &__item:hover img {
    transform: translate(-50%, -50%) scale(1.1, 1.1);
    transition: transform 0.3s ease;
  }

  &__info {
    padding: 0.2em 0.6em 2em;
  }

  &__infoCat {
    padding: 1px 8px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    color: #fff;
  }

  &__infoTitle {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 5px;
  }

  &__infoArea {
    position: absolute;
    bottom: 1em;
    font-size: 0.7rem;
    color: $cSubText;
  }
}

.l-insta {
  background-image: url(../images/insta-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    font-size: 1.2rem;
    margin-bottom: 1em;
  }

  &__inner {
    background: rgba(0, 0, 0, 0.15);
    padding: 60px 0;
    text-align: center;
    color: #fff;
  }

  &__cont {
    @extend .content-inner;
  }

  &__read {
    margin-bottom: 10px;

    & span {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}
.l-special {
  @extend .content-inner;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
    color: $cBlack;
  }

  &__photo {
    width: 37%;
    overflow: hidden;
    position: relative;
    padding-bottom: 37%;
    border-radius: 5px;

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: "object-fit: cover;";
    }
  }

  &__text {
    width: 60%;
    line-height: 1.4;
  }

  &__shop {
    font-weight: 900;
    margin-bottom: 5px;
  }

  &__read {
    font-size: 13px;
    margin-bottom: 8px;
  }

  &__const {
    font-size: 11px;
    color: gray;
  }
}

.btn-wrap {
  width: 80%;
  margin: 0 auto;
}

.mod_share {
  @extend .content-inner;
  font-size: 0.7rem;
  line-height: 1.3;
  text-align: center;
  max-width: 800px !important;

  .symbol {
    padding-bottom: 3px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    position: relative;
    display: inline-block;
    padding: 0 40px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 24px;
      height: 2px;
      background-color: black;
    }
    &:before {
      left: 0;
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
    }
    &:after {
      right: 0;
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 24%;
    height: auto;
    border-radius: 5px;
    padding: 1em 0.5em;
    box-sizing: border-box;
    color: $cWhite;
  }

  &__item.twitter {
    background: $cTwitter;
  }

  &__item.facebook {
    background: $cFb;
  }

  &__item.line {
    background: $cLIne;
  }

  &__item.copy {
    background: $cCopy;
  }
}
.owner {
  background-image: url(../images/owner-bg.jpg);
  background-repeat: no-repeat;
  background-position: -130px;
  background-size: cover;
  padding: 32px 0 64px;

  &__inner {
    @extend .content-inner;
  }

  &__title {
    color: $cBase;
    font-size: 1.8rem;
    margin-bottom: 1em;
  }

  &__read {
    line-height: 1.8;
    margin-bottom: 1em;
  }
}

.l-mainvisual {
  background: #999;
  text-align: center;
  padding: 10px 0;
}

footer.l-footer {
  background: $cSub;
  padding: 2em 0;
  color: $cWhite;
  text-align: center;
  font-size: 0.8rem;
}

.mapbtn {
  max-width: 200px;

  & .btn {
    padding: 0.3em;
  }
}

.l-tel-pc {
  display: none;
}

.l-info {
  &__cate {
    font-size: 11px;
    margin-bottom: 10px;
  }

  &__cate-list {
    display: inline-block;
    color: #fff;
    padding: 2px 5px;
    margin-right: 4px;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5em;
  }

  &__kodawari {
    margin: 5px 0;
  }

  &__korona {
    border: 3px dotted $cBase;
    padding: 1em;

    h2 {
      margin-top: 20px;
    }
  }

  &__korona-sub {
    margin: 16px 0 8px;
    padding: 2px 0;
    background: $cBgGray;
    text-align: center;
  }

  &__korona-list li {
    position: relative;
    padding-left: 1.3em;
    border-bottom: 1px solid #eee;
    padding: 2px 0 2px 23px;
  }

  &__korona-list li:before {
    content: "\f14a";
    font-family: FontAwesome;
    position: absolute;
    top: 3px;
    left: 0;
  }

  &__message-text {
    background: #fdeeea;
    padding: 1em 1.3em;
    border-radius: 5px;
    position: relative;
    display: inline-block;
  }

  &__message-text:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 10%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fdeeea;
  }

  &__h2title {
    text-align: left;
    margin: 32px 0 24px;
  }

  &__video {
    margin-bottom: 1em;
    width: 100%;
    height: 200px;
    background: #eee;
  }

  &__table {
    width: 100%;
    border: 1px solid #ececec;
  }

  &__table th,
  &__table td {
    border-bottom: none;
    display: block;
    width: 100%;
  }

  &__table th {
    background: $cBgGray;
    border: solid 1px $cWhite;
    padding: 0.3em 1em;
    font-weight: bold;
  }

  &__table tr {
    border-top: 1px solid #ececec;
  }

  &__table td {
    width: 100%;
    padding: 10px;
  }
}
.l-tel {
  background: $cBase;
  color: #fff;
  text-align: center;
  padding: 0.8em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

  & .btn {
    font-size: 1.3rem;
    color: $cBlack;
    margin: 0;
    padding: 5px 0;
  }

  &__title {
    margin-bottom: 3px;
  }
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.l-info__slide {
  margin: 1em 0;
}

.l-info__slid-thum {
  .slick-list {
    height: 230px;
    margin-bottom: 0.2em;
  }
}

.l-info__slid-nav {
  .slick-slide {
    margin-bottom: 0.5em;
    padding: 0.2em;
  }

  .slick-current {
    border: 2px solid $cBase;
  }
}

.l-info__slid-nav .slick-slide img {
  object-fit: cover;
  height: 70px;
  width: 100%;
}

/* slide */
.l-keyvisual {
  text-align: center;
  color: #fff;
  height: 510px;
  position: relative;

  h1 {
    max-width: 650px;
    margin: 0 auto 1em;
    padding: 0 2em;
  }

  &__read {
    line-height: 1.5;
    margin-bottom: 10px;
  }

  &__text-btnbox {
    width: 80%;
    margin: 0 auto;
  }

  &__text {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.l-keyvisual__bg img {
  width: 100%;
  height: 510px;
  object-fit: cover;
}
