.btn {
  position: relative;
  display: inline-block;
  background-color: $cWhite;
  border: 1px solid $cBase;
  border-radius: 40px;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.3s;
  color: $cBase;
  text-decoration: none !important;
  width: 100%;
  box-sizing: border-box;
  text-align: center;

  // &::before,
  // &::after {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   margin: auto;
  //   content: "";
  //   vertical-align: middle;
  // }

  // &::before {
  //   left: 3px;
  //   width: 7px;
  //   height: 1px;
  //   background: #7a0;
  // }

  // &::after {
  //   left: 3px;
  //   width: 6px;
  //   height: 6px;
  //   border-top: 1px solid #7a0;
  //   border-right: 1px solid #7a0;
  //   -webkit-transform: rotate(45deg);
  //   transform: rotate(45deg);
  // }

  &.btn-m-red {
    background-color: $cBase;
    color: $cWhite;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: $cWhite;
      color: $cBase;
      box-shadow: none;
    }
  }

  &.btn-m-white {
    background-color: $cWhite;
    color: $cBase;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: $cBase;
      color: $cWhite;
      box-shadow: none;
    }
  }

  &.btn-m-blue {
    background-color: $cWhite;
    color: $cSub;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    border: none;

    &:hover {
      background-color: $cSub;
      color: $cWhite;
      box-shadow: none;
      border: none;
    }
  }

  &.btn-m-gray {
    background-color: #d6d7d8;
    color: $cSubText;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    border: none;

    &:hover {
      background-color: #d6d7d8;
      color: $cSubText;
      box-shadow: none;
      border: none;
      opacity: 0.8;
    }
  }
}
