// 検索ボックスアコーディオン

.l-searchBox {
  margin: 1em 0 2em;

  &__title {
    background: $cBase;
    text-align: center;
    padding: 0.7em 0;
    color: #fff;
    position: relative;
    border-radius: 5px;

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &::before {
      content: "\f078";
      font-family: FontAwesome;
      color: $cWhite;
      position: absolute;
      right: 20px;
      top: 14px;
    }

    &.open::before {
      content: "\f077";
      font-family: FontAwesome;
    }
  }
}

// 検索ボックス

.searchBody {
  border: 1px solid $cBorder;
  padding: 1em;
  margin-bottom: 3em;
  display: none;
  background: $cWhite;

  &__top {
    margin-bottom: 30px;
  }

  &__dt {
    margin-bottom: 5px;
    color: $cBlack;
  }

  &__dd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $cBlack;
  }

  &__input {
    border: 1px solid $cBorder;
    border-radius: 2px;
    width: calc(100% - 43px);
    padding: 0.6em 1em;
  }

  &__submit {
    width: 43px;
    height: auto;
    background: $cBase;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
  }

  &__submit::before {
    content: "\f002";
    font-family: FontAwesome;
    color: $cWhite;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__btn .btn {
    margin-top: 0;
  }

  &__dl {
    width: 100%;
    margin-bottom: 1em;
  }

  &__select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    position: relative;
    z-index: 50;
    padding: 0.6em 1em;
  }

  .selectWrap {
    position: relative;
    border: 1px solid $cBorder;
    border-radius: 2px;
    background: $cWhite;
    width: 100%;

    &::before {
      content: "\f078";
      font-family: FontAwesome;
      position: absolute;
      right: 18px;
      top: 10px;
      color: $cBase;
    }
  }
}

.form-checkbox {
  &__button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 10px 8px;
    border-radius: 4px;
    border: 1px solid $cBorder;
    font-size: 0.9rem;
    color: #848484;
    background: #fff;
    line-height: 1;
  }

  &__list li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
  }

  &__button-input {
    display: none;
  }

  &__button-input:checked + .form-checkbox__button {
    background-color: $cBgRed;
    border: 1px solid $cBase;
    color: $cBase;
  }
}

// 新規店舗登録フォーム
.form-page__title {
  background: $cBgGray;
  padding: 10px 0;
  text-align: center;
}

.form-page__title.complete {
  height: 100vh;
  padding: 2em 1.5em;
}

.l-form input[type="text"],
.l-form textarea,
.l-form input[type="email"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #cecece;
}

.l-form {
  h2 {
    border-left: 4px solid $cBase;
    padding-left: 10px;
  }
  .checkbox-list {
    background: $cBgGray;
    padding: 10px;
    margin-top: 5px;
  }

  .form-checkbox {
    background: #f1f1f1;
    padding: 1.5em 1em;
  }

  dd,
  .l-form__radio {
    background: #f5f5f5;
  }

  &__title {
    text-align: left;
    border-left: 5px solid $cBase;
    padding-left: 10px;
  }

  // &__button-submit {
  //   width: 80%;
  //   margin: 2em auto;
  // }
}

.form-require {
  font-size: 13px;
  color: $cBase;
  background: $cBgGray;
  padding: 1px 5px;
  margin-left: 8px;
  border-radius: 3px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 5px;
  border: 1px solid #cecece !important;
}

input[type="radio"] {
  transform: scale(2);
  margin: 10px;
  border: 1px solid #cecece !important;
}

.sub-text {
  font-size: 0.9rem;
  color: #676767;
  margin: 8px 0 0;
}

.l-form__label {
  margin: 16px 0 5px;
  font-weight: bold;
  display: inline-block;
}

.f-checkbox__list {
  margin: 10px 5px 20px;
}

.l-form__option {
  margin: 2em 1em 1em;
  text-align: center;
}

.l-form__option-link {
  text-decoration: underline;
}
.l-form__option-link-area {
  margin-top: 5px;
}
.l-form__option-text {
  line-height: 1.4;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}
::placeholder {
  /* Others */
  color: #ccc !important;
}

.submit__btn {
  width: 80%;
  margin: 2em auto;
}

.l-form__button-back .btn,
.l-form__button-submit .btn {
  width: 100%;
}

.validate-text {
  background: $cBgRed;
  padding: 0.5em 1em;
}
