// .swiper-container {
//   overflow: visible !important;
// }

// .swiper-slide {
//   height: 600px;
//   overflow: hidden;

//   & > img {
//     width: 100%;
//     height: 100%;
//     max-width: 100%;
//     object-fit: cover;
//     transform: scale(1.3);
//     transition: transform 1.9s ease;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 61, 125, 0.1);
//   }

//   &-active {
//     & > img {
//       transform: none;
//     }

//     & .hero__title {
//       font-family: 'EB Garamond', serif;
//       opacity: 1;
//       transform: translate(-50%, -50%);
//     }
//   }
// }

// .hero {
//   overflow: hidden;
//   // padding-top: $navHeight;
//   @extend .pb-md;

//   &__title {
//     max-width: 90%;
//     width: 90%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: $cWhite;
//     font-size: 36px;
//     z-index: 2;
//     opacity: 0;
//     transition: opacity 1s ease 1.5s, transform 1s ease 1.5s;
//     text-align: center;
//     line-height: 1.2em;
//     letter-spacing: .04em;

//     & span{
//       @extend .font-md;
//       display: block;
//       line-height: 1.2em;
//       margin-top: 16px;
//     }

//     & img{
//       max-width: 250px;
//     }
//   }

//   &__footer {
//     position: absolute;
//     right: 10px;
//     bottom: 0;
//     transform: translateX(-50%);
//     z-index: 2;
//     height: 68px;
//     width: 22px;
//     overflow: hidden;
//   }

//   &__downarrow {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 6px;
//     @include animation(
//       $name: kf-arrow-anime,
//       $iteration-count: infinite,
//       $duration: 2s,
//       $timing-function: linear
//     );
//   }

//   &__scrolltext {
//     position: absolute;
//     transform: rotate(90deg);
//     color: rgba(255, 255, 255, 0.7);
//     left: -8px;
//     top: 11px;
//     font-size: 1.2em;
//   }
// }

// @keyframes kf-arrow-anime {
//   0%,
//   50%,
//   100% {
//     transform: translateY(-10%);
//   }
//   30% {
//     transform: none;
//   }
// }
