.l-header__logo img {
  width: 230px;
}

.l-header__nav {
  width: 100%;
  height: auto;
  position: relative;
  background: #f6f6f6;
}

.l-header__drawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 1em;
}

/*ナビゲーション部分*/

.l-header__link {
  display: block;
  font-weight: bold;
  padding: 2em;
  border-bottom: 1px dashed #ccc;
  color: $cSub;
  text-decoration: none;
}

.l-header__link:hover {
  background-color: $cBgRed;
  color: $cBase;
}

.l-header__nav-list {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.5s ease;
  -webkit-transform: translateX(100%);
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100vh;
}

/*OPEN*/
.l-header__nav-list.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.l-header__toggle {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 3;
  right: 15px;
  top: 18px;
}

.l-header__toggle span {
  display: block;
  position: absolute;
  width: 40px;
  border-bottom: solid 3px $cSub;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.l-header__toggle span:nth-child(1) {
  top: 5px;
}
.l-header__toggle span:nth-child(2) {
  top: 16px;
}
.l-header__toggle span:nth-child(3) {
  top: 27px;
}
.l-header__toggle.active span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.l-header__toggle.active span:nth-child(2),
.l-header__toggle.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 960px) {
  /*ロゴの大きさを調整*/
  .l-header__logo img {
    max-width: 250px;
  }

  .l-header__inner {
    display: flex;
  }

  .l-header__toggle {
    display: none;
  }
  .l-header__nav {
    width: 70%;
    font-size: 0.9em;
    background-color: transparent;
  }
  .l-header__nav-list {
    height: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: inherit;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .l-header__link {
    padding: 0 1em;
    border-bottom: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .l-header__link a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }

  .l-header__link a:hover::after {
    transform: scale(1, 1);
  }

  .l-header__link a:hover {
    background-color: none;
  }
}
