$cWhite: white;
$cBlack: #3b4043;
$cBgGray: #f4f3f2;
$cBgRed: #fdeeea;
$contentMaxWidth: 1160px;
$navHeight: 100px;
$cBase: #d84315;
$cSub: #022558;
$cBlue: #1e88e5;

$cText: #eaedf2;

// $alert-yellow: #ebe16f;
// $alert-red: #fbe3e4;
// $alert-green: #e6efc2;
// $alert-blue: #d5edf8;

$cSubText: #666666;
$cBorder: #cecece;

$link-color: #d84315;
$link-hover: #fff;

$green: #000;
$text-color: #000;

$cTwitter: #55acee;
$cFb: #3b5998;
$cLIne: #1bb91f;
$cCopy: #fd8223;
